<h3>Profile:</h3> <br>
Member of Get Out since : <%= current_user.created_at.strftime("%b %d, %Y") %><br>
Current Search City: <%= current_user.city.capitalize %><br>
<%= link_to 'Edit Profile', edit_profile_path(current_user.id) %>
