<div class="container">
  <h2>Your favorite searches:</h2><br><br>



    <% if @favorites %>
    <% @favorites.each do |fav| %>
    <div class="row">
      <div class="col-md-3">
        <%= form_tag '/search' do %>
          <%= hidden_field_tag :term, fav.name %>
          <%= submit_tag "Find Events"%>
        <% end %>
      </div>

      <div class= "col-md-9">
        <%= fav.name %><br>
      </div>
    </div>

     <% end %>
   <% end %>
 </div>
