<div class="container">
  <h2>Your favorite searches:</h2><br><br>



    <% if @favorites %>
    <% @favorites.each do |fav| %>
    <div class="row">
      <div class="col-md-2">
        <%= form_tag '/search' do %>
          <%= hidden_field_tag :term, fav.name %>
          <%= submit_tag "Find Events", class: 'btn btn-primary'%>
        <% end %>
      </div>

      <div class= "col-md-10">
        <p><%= fav.name.titleize %><br></p>
        <br>
      </div>
    </div>

     <% end %>
   <% end %>
 </div>
